Repository Casa/lnd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roasbeef, @cfromknecht, @halseth, @wpaulino, @joostjager, @valentinewallace

lnd: log error if any throughout initialization
  lnd.go
Owners: none

fundingmanager+server: define MaxPendingChans. RejectPush in funding config
  fundingmanager.go
  fundingmanager_test.go
  server.go
Owners: @halseth, @roasbeef, @cfromknecht

fundingmanager tests: run tests in parallel
  fundingmanager_test.go
Owners: none

lnwallet test: add TestCoinSelect
  lnwallet/wallet.go
  lnwallet/wallet_test.go
Owners: @roasbeef, @halseth

server+funding: remove unused remoteFundingAmt
  fundingmanager.go
  server.go
Owners: @halseth, @roasbeef, @cfromknecht

lnwallet+funding: rename Capacity and FundingAmt
  fundingmanager.go
  lnwallet/interface_test.go
  lnwallet/reservation.go
  lnwallet/wallet.go
Owners: @halseth, @roasbeef

lnwallet: make selectCoinsAndChange return selected coins
  lnwallet/wallet.go
Owners: @roasbeef, @halseth

lnwallet: move coin selection before ChannelReservation
  lnwallet/interface_test.go
  lnwallet/wallet.go
Owners: @roasbeef, @halseth

lnwallet/wallet: extract contribution setup into initOurContribution
  lnwallet/wallet.go
Owners: @roasbeef, @halseth

lnwallet/wallet: add coinSelectSubtractFees
  lnwallet/wallet.go
  lnwallet/wallet_test.go
Owners: @roasbeef, @halseth

lnwallet/wallet: define SubtractFees for InitFundingReserveMsg
  lnwallet/wallet.go
Owners: @roasbeef, @halseth

fundingmanager test: extract publishing logic into fundChannel, set funding fee during unit tests
  fundingmanager_test.go
Owners: none

mock: make it possible to set list of returned utxos
  mock.go
Owners: none

fundingmanager+server: define subtractFees
  fundingmanager.go
  lnwallet/reservation.go
  server.go
Owners: @halseth, @roasbeef, @cfromknecht

fundingmanager test: add TestFundingManagerFundAll
  fundingmanager_test.go
Owners: none

autopilot: use subtractFees when funding channel
  autopilot/agent.go
  autopilot/interface.go
  pilot.go
Owners: @halseth, @roasbeef

autopilot/agent_test: wait for expected num chans and balance
  autopilot/agent_test.go
Owners: @halseth, @roasbeef

autopilot/agent_test: add more agent channel allocation testcases
  autopilot/agent_test.go
Owners: @halseth, @roasbeef

routing: create PathFindingConfig for global parameters
  lnrpc/routerrpc/router_backend.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_source.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
  server.go
Owners: @joostjager, @roasbeef, @cfromknecht

lnrpc/routerrpc: create mission control interface
  lnrpc/routerrpc/router_backend.go
Owners: none

routing+routerrpc+lnrpc: add option to use mc in queryroutes
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Owners: none

lncli: add use_mc flag
  cmd/lncli/commands.go
Owners: none

router: only prune disabled channels when AssumeChannelValid=true.
  routing/router.go
Owners: @joostjager, @roasbeef

htlcswitch: pipeline settles to switch
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  lntest/itest/lnd_test.go
  server.go
  test_utils.go
Owners: @roasbeef, @cfromknecht

cmd: Add retry for password capture in create wallet
  cmd/lncli/commands.go
Owners: none

lnd: remove global var access from genCertPair
  lnd.go
  server_test.go
Owners: none

keychain: fix comment about derivation path
  keychain/derivation.go
Owners: @roasbeef

build: update neutrino to latest version
  go.mod
  go.sum
Owners: none

lnd: Add regtest exception for wait to sync on startup
  lnd.go
Owners: none

build: update version to v0.7.1-beta
  build/version.go
Owners: @cfromknecht

routing: adding the BlockPadding value to sendpayment
  routing/payment_session.go
Owners: @joostjager, @roasbeef

itest+routing: updating tests to account for BlockPadding
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_test.go
  routing/payment_session_test.go
Owners: @joostjager, @roasbeef

config: default autopilot min confs to 1
  config.go
Owners: none

build: update to neutrino version w/ shutdown fix
  go.mod
  go.sum
Owners: none

watchtower/wtpolicy: properly set DefaultSweepFeeRate and MinSweepFeeRate
  watchtower/wtpolicy/policy.go
Owners: none

server: use custom wtclient policy instead of default
  server.go
Owners: @cfromknecht, @roasbeef

build: update neutrino to version w/ stall fix
  go.mod
  go.sum
Owners: none

tor-target-ip-address
  config.go
  server.go
  tor/controller.go
Owners: @cfromknecht, @roasbeef, @wpaulino

Fix incorrect checksum
  go.sum
Owners: none

.github/CODEOWNERS:

aezeed/* @roasbeef @cfromknecht

autopilot/* @halseth @roasbeef

brontide/* @roasbeef @cfromknecht

buffer/* @cfromknecht

build/* @cfromknecht

chainntnfs/* @halseth @wpaulino

chanbackup/* @roasbeef

channeldb/channel.go @roasbeef

channeldb/forwarding_log.go @roasbeef

channeldb/graph.go @roasbeef @halseth

channeldb/invoices.go @roasbeef @joostjager

channeldb/payment_control.go @halseth @joostjager

channeldb/payments.go @halseth @joostjager

channeldb/reject_cache.go @cfromknecht

channelnotifier/* @valentinewallace

contractcourt/* @roasbeef @joostjager

discovery/* @halseth @wpaulino

htlcswitch/* @roasbeef @cfromknecht

input/* @joostjager @roasbeef

keychain/* @roasbeef

lnwallet/* @roasbeef @halseth

macaroons/* @roasbeef

monitoring/* @valentinewallace

nat/* @wpaulino

pool/* @cfromknecht

queue/* @cfromknecht

routing/* @joostjager @roasbeef

sweep/* @joostjager

tor/* @wpaulino

walletunlocker/* @roasbeef

watchtower/* @cfromknecht @roasbeef

zpay32/* @halseth @roasbeef

breacharbiter.go @cfromknecht @roasbeef

chanrestore.go @roasbeef

fundingmanager.go @halseth @roasbeef

nursery_store.go @cfromknecht

peer.go @cfromknecht @roasbeef

pilot.go @halseth @roasbeef

server.go @cfromknecht @roasbeef

utxonursery.go @cfromknecht @roasbeef
