Repository Casa/lnd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @roasbeef, @cfromknecht, @halseth, @wpaulino, @joostjager, @valentinewallace

.github/CODEOWNERS:

aezeed/* @roasbeef @cfromknecht

autopilot/* @halseth @roasbeef

brontide/* @roasbeef @cfromknecht

buffer/* @cfromknecht

build/* @cfromknecht

chainntnfs/* @halseth @wpaulino

chanbackup/* @roasbeef

channeldb/channel.go @roasbeef

channeldb/forwarding_log.go @roasbeef

channeldb/graph.go @roasbeef @halseth

channeldb/invoices.go @roasbeef @joostjager

channeldb/payment_control.go @halseth @joostjager

channeldb/payments.go @halseth @joostjager

channeldb/reject_cache.go @cfromknecht

channelnotifier/* @valentinewallace

contractcourt/* @roasbeef @joostjager

discovery/* @halseth @wpaulino

htlcswitch/* @roasbeef @cfromknecht

input/* @joostjager @roasbeef

keychain/* @roasbeef

lnwallet/* @roasbeef @halseth

macaroons/* @roasbeef

monitoring/* @valentinewallace

nat/* @wpaulino

pool/* @cfromknecht

queue/* @cfromknecht

routing/* @joostjager @roasbeef

sweep/* @joostjager

tor/* @wpaulino

walletunlocker/* @roasbeef

watchtower/* @cfromknecht @roasbeef

zpay32/* @halseth @roasbeef

breacharbiter.go @cfromknecht @roasbeef

chanrestore.go @roasbeef

fundingmanager.go @halseth @roasbeef

nursery_store.go @cfromknecht

peer.go @cfromknecht @roasbeef

pilot.go @halseth @roasbeef

server.go @cfromknecht @roasbeef

utxonursery.go @cfromknecht @roasbeef

rpc: add channel reserve fields in RPC responses.
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Owners: none

Update recovery.md
  docs/recovery.md
Owners: none

lnd_test: remove TLSAutoRegeneration test
  lntest/itest/lnd_test.go
Owners: none

Lnd + server_test: Add unit test for TLS cert autoregeneration
  lnd.go
  server_test.go
Owners: none

MAKEFILE: Clarify what the testcase argument is
  docs/MAKEFILE.md
Owners: none

lnrpc+rpcserver: Adding last_update timestamp to RoutingPolicy
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Owners: none

routing/test: allow arbitrary graph source nodes
  routing/pathfind_test.go
  routing/router_test.go
Owners: @joostjager, @roasbeef

htlcswitch/test: stricter error check in TestSwitchSendPayment
  htlcswitch/switch_test.go
Owners: @roasbeef, @cfromknecht

htlcswitch+routing+routerrpc: return error source as index
  go.mod
  go.sum
  htlcswitch/failure.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/router.go
  routing/router_test.go
  server.go
Owners: @roasbeef, @cfromknecht, @joostjager

htlcswitch+routing: make error decryption mockable
  htlcswitch/failure.go
Owners: @roasbeef, @cfromknecht

lntest/node: make ProfilePort part of node config
  lntest/node.go
Owners: none

lntest/harness: add method SaveProfilesPages
  lntest/harness.go
Owners: none

lnd_test: add lndHarness to harnessTest, dump goroutines on Fatalf
  lntest/itest/lnd_test.go
Owners: none

lntest: add flag -goroutinedump
  lntest/harness.go
  lntest/node.go
Owners: none

gitignore: add pprof files to gitignore
  .gitignore
Owners: none

make: add -goroutinedump, rm pprof*.log to itest
  make/testing_flags.mk
Owners: none

htlcswitch: use distinct error for unreadable failures
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/payment_lifecycle.go
  routing/router.go
  routing/router_test.go
Owners: @roasbeef, @cfromknecht, @joostjager

lnwire+htlcswitch: only use references for failure messages
  htlcswitch/link.go
  htlcswitch/switch.go
  lnwire/onion_error.go
  lnwire/onion_error_test.go
Owners: @roasbeef, @cfromknecht

htlcswitch: do not consider unknown failures an error
  htlcswitch/failure.go
  htlcswitch/switch_test.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/router.go
  routing/router_test.go
Owners: @roasbeef, @cfromknecht, @joostjager

invoicesrpc: fix route hint off-by-one-error
  lnrpc/invoicesrpc/addinvoice.go
Owners: none

build: update btcwallet and zmq dependencies
  go.mod
  go.sum
Owners: none

routing+channeldb: findPath uses Vertex instead of LightningNode
  channeldb/graph.go
  routing/heap.go
  routing/pathfind.go
Owners: @roasbeef, @halseth, @joostjager

routing: add index map to distanceHeap
  routing/heap.go
  routing/heap_test.go
  routing/pathfind.go
Owners: @joostjager, @roasbeef

docs/grpc: add C# docs
  docs/grpc/c#.md
Owners: none

lnd_test: fix channel event subscription test flake.
  lntest/itest/lnd_test.go
Owners: none

routing/test: create mission control test context
  routing/missioncontrol_test.go
Owners: @joostjager, @roasbeef

routing+routerrpc: isolate payment session source from mission control
  lnrpc/routerrpc/config.go
  lnrpc/routerrpc/config_active.go
  lnrpc/routerrpc/config_default.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/payment_session.go
  routing/payment_session_source.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
  server.go
Owners: @joostjager, @roasbeef, @cfromknecht

routing: move generateBandwidthHints
  routing/missioncontrol.go
  routing/router.go
Owners: @joostjager, @roasbeef

routing: move second chance logic into mission control
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/nodepair.go
  routing/payment_session.go
  routing/payment_session_source.go
  routing/router.go
Owners: @joostjager, @roasbeef

routing: report failures to mission control directly
  routing/payment_lifecycle.go
  routing/payment_session.go
  routing/router.go
Owners: @joostjager, @roasbeef

lnd: prevent panic on nil neutrino cleanup
  lnd.go
Owners: none

chainregistry: properly close neutrino database upon errors
  chainregistry.go
Owners: none

peer: don't reply if peer's request `initial_graph_sync`
  peer.go
Owners: @cfromknecht, @roasbeef

discovery/gossiper: remove unused SynchronizeNode method
  discovery/gossiper.go
Owners: @halseth, @wpaulino

graph: implement index for disabled channels.
  channeldb/graph.go
  channeldb/graph_test.go
Owners: @roasbeef, @halseth

router: Optimize pruneZombieChannels.
  routing/pathfind_test.go
  routing/router.go
  routing/router_test.go
Owners: @joostjager, @roasbeef

lnrpc: add num_zombie_chans to NetworkInfo response
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Owners: none

channeldb/graph: add NumZombies method and tests
  channeldb/graph.go
  channeldb/graph_test.go
Owners: @roasbeef, @halseth

rpcserver: query and set num_zombie_chans in NetworkInfo resp
  rpcserver.go
Owners: none

aezeed: publicly export the `word` field in `ErrUnknownMnenomicWord`
  aezeed/cipherseed.go
  aezeed/cipherseed_test.go
  aezeed/errors.go
Owners: @roasbeef, @cfromknecht
